__pycache__/*
data/abo*
data/images/*
!data/ShapeNetCore.v2/.gitkeep
data/3dmodels/metadata/
data/3dmodels/original/
data/pix3d_full/
data/ShapeNetCore.v2/*
data/r2n2_shapenet_dataset/
!data/r2n2_shapenet_dataset/.gitkeep
data/ShapeNetCore.v2.zip
!data/README.md
 __pycache__/
 *.pyc